*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    line-height: 1.5;
}

/*NAV BAR*/

.top_black_gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 200), rgba(0, 0, 0, 0));

}

.logo{
    width: 20%;
    height: 10%;
    position: relative;
    margin: 20px;
    
}

.ozee_logo{
    width: 30%;
    height: 30%;
    position: relative;
    top: 10px;
    cursor: pointer;
    
    
}

.ozee_logo:hover{
    filter: brightness(200%);
}

.ozee_logo_glow{
    width: 30%;
    height: 30%;
    position: relative;
    top: 10px;
    right: 30%;
    cursor: pointer;
    transition: 0.3s; 
    opacity: 0;
}

.ozee_logo_glow:hover{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(243, 239, 61));
    filter: blur(25px);
    opacity: 0.75;
    
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 0;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul{

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    position: absolute;
    left: 0;
    bottom: -7px;
    filter: blur(1px);
    transition: 0.5s ease;
    
}

.navbar ul li:hover::after{
    width: 100%;
    filter: blur(5px);
    opacity: 1;
}

/*NAV BAR*/

/*HERO SHOT*/

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, 255)),url(background/hero_shot.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    color: white;
    width: 100%;
    position: relative;
    top: 65%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    justify-content: center;
}

.gradient_animation{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    cursor: default;
    font-size: 100px;
    font-family: Helvetica;
    font-weight: 200em;
    transition: 1s;
    width: 100%;
    top: 55%;
}

.gradient_animation:hover{
    /*background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.helper{
    position: absolute;
    background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    overflow-x: hidden;
    height: 130px;
    border-radius: 25px;
    top: 0%;
    justify-content: center;
    filter: blur(30px);
    opacity: 0;
    transition: 0.5s;
}

.gradient_animation:hover .helper{
    opacity: 0.2;
}

button{
    letter-spacing: 1px;
    border: none;
    outline: none;
    /*box-shadow: 0 5px 10px rgb(231, 228, 229);*/
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 30px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(245, 239, 122);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    transition: 0.3s;
}

span{ 
    background: #04B45F;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    
}

.button:hover a{
    background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button:hover{
    border: 2px solid white;
    background: #000000;
    border-color: rgb(243, 239, 61);
}

.button:active{
    transform: scale(0.9);
    
}



/*HERO SHOT*/

/*ICONS*/
.icons{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    z-index: 17;
}

.icons ul{
    padding: initial;
}

.icons ul li{
    height: 40px;
    width: 0%;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color: #fff;
    transition: 0.5s;
}





.iconsglow{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    z-index: 18;
}

.iconsglow ul{
    padding: initial;
}

.iconsglow ul li{
    height: 40px;
    width: 100%;
    filter: blur(20px);
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color: transparent;

    transition: 0.5s;
}

.instagram_b:hover{
    background: #E1306C;
    width: 100%;
    cursor: pointer;
}

.youtube_b:hover{
    background: #ff0000;
    width: 100%;
    cursor: pointer;
}

.spotify_b:hover{
    background: #1DB954;
    width: 100%;
    cursor: pointer;
}

/*ICONS*/